# The GitHub Edition - Python (Patterns)

In [1]:
def pattern(n):
      k = 2 * n - 2
      for i in range(0,n):
           for j in range(0,k):
               print(end=" ")
           k = k - 1
           for j in range(0, i+1):
                print("*", end=" ")
           print("\r")
 
pattern(5)

        *
       * *
      * * *
     * * * *
    * * * * *

In [2]:
def pattern(n):
    k = 2 * n - 2
    for i in range(0,n):
        for j in range(0,k):
            print(end=" ")
        k = k - 1
        for j in range(0, i+1):
            print(j+1, end=" ")
        print("\r")
pattern(5)

        1
       1 2
      1 2 3
     1 2 3 4
    1 2 3 4 5

In [3]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [5]:
for i in range(6,1,-1):
    for j in range(i,1,-1):
        print("X",end=" ")
    print()

X X X X X
X X X X
X X X
X X
X

In [6]:
for i in range(6,0,-1):
    for j in range(i-1,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [7]:
k=4
for i in range(1,6):
    for j in range(1,k+1):
        print(end=" ")
    k=k-1
    for l in range(1,i+1):
        print("#",end=" ")
    print()

    #
   # #
  # # #
 # # # #
# # # # #

In [8]:
n=int(input())
k=n-1
for i in range(1,n+1):
    for j in range(1,k+1):
        print(end=" ")
    k=k-1
    for l in range(1,i+1):
        print("!",end=" ")
    print()

5
    !
   ! !
  ! ! !
 ! ! ! !
! ! ! ! !

In [9]:
n=int(input())
k=n-1
for i in range(1,n+1):
    for j in range(1,k+1):
        print(end=" ")
    k=k-1
    for l in range(1,i+1):
        print(l,end=" ")
    print()

5
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [10]:
n=int(input())
k=n-1
num=1
for i in range(1,n+1):
    for j in range(1,k+1):
        print(end=" ")
    k=k-1
    for l in range(1,i+1):
        print(num,end=" ")
        num+=1
    print()

5
    1
   2 3
  4 5 6
 7 8 9 10
11 12 13 14 15

In [11]:
n=1
for i in range(1,6):
    for j in range(1,i+1):
        print(n,end=" ")
        n+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [12]:
n=15
for i in range(6,1,-1):
    for j in range(i,1,-1):
        print(n,end=" ")
        n-=1
    print()

15 14 13 12 11
10 9 8 7
6 5 4
3 2
1

In [13]:
n=int(input())
k=n*2-2
for i in range(1,n+1):
    for j in range(1,k+1):
        print(end=" ")
    k=k-2
    for l in range(1,i+1):
        print(l,end=" ")
    print()

5
        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [14]:
n=int(input())
k=n*2-2
for i in range(1,n+1):
    for j in range(1,k+1):
        print(end=" ")
    k=k-2
    for l in range(1,i+1):
        print("$",end=" ")
    print()

10
                  $
                $ $
              $ $ $
            $ $ $ $
          $ $ $ $ $
        $ $ $ $ $ $
      $ $ $ $ $ $ $
    $ $ $ $ $ $ $ $
  $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $

In [15]:
n=int(input())
k=n*2-2
num=4
for i in range(1,n+1):
    for j in range(1,k+1):
        print(end=" ")
    k=k-2
    for l in range(1,i+1):
        print(num,end=" ")
        num+=4
    print()

5
        4
      8 12
    16 20 24
  28 32 36 40
44 48 52 56 60

In [16]:
n=int(input())
k=n*2-2
num=1
for i in range(1,n+1):
    for j in range(1,k+1):
        print(end=" ")
    k=k-2
    for l in range(1,i+1):
        print(num,end=" ")
        num+=1
    print()

5
        1
      2 3
    4 5 6
  7 8 9 10
11 12 13 14 15

In [17]:
k=1
for i in range(5,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for l in range(1,i+1):
        print("#",end=" ")
    print()

 # # # # #
  # # # #
   # # #
    # #
     #

In [18]:
k=1
for i in range(5,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for l in range(1,i+1):
        print(i,end=" ")
    print()

 5 5 5 5 5
  4 4 4 4
   3 3 3
    2 2
     1

In [19]:
k=1
for i in range(5,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for l in range(i,0,-1):
        print(l,end=" ")
    print()

 5 4 3 2 1
  4 3 2 1
   3 2 1
    2 1
     1

In [20]:
a=int(input())
for i in range(1,a+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()
print("------------------------------------------")
k=a-1
for i in range(1,a+1):
    for j in range(1,k+1):
        print(end=" ")
    k=k-1
    for l in range(1,i+1):
        print("*",end=" ")
    print()
print("------------------------------------------")
k=a*2-2
for i in range(1,a+1):
    for j in range(1,k+1):
        print(end=" ")
    k=k-2
    for l in range(1,i+1):
        print("!",end=" ")
    print()
print("------------------------------------------")

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
------------------------------------------
    *
   * *
  * * *
 * * * *
* * * * *
------------------------------------------
        !
      ! !
    ! ! !
  ! ! ! !
! ! ! ! !
------------------------------------------

In [21]:
a=int(input())
for i in range(a,0,-1):
    for j in range(i,0,-1):
        print("#",end=" ")
    print( )
print("------------------------------------------")
k=1
for i in range(a,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for l in range(i,0,-1):
        print("@",end=" ")
    print()
print("------------------------------------------")
k=a*2-2
for i in range(a,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+2
    for l in range(i,0,-1):
        print("@",end=" ")
    print()
print("------------------------------------------")

5
# # # # #
# # # #
# # #
# #
#
------------------------------------------
 @ @ @ @ @
  @ @ @ @
   @ @ @
    @ @
     @
------------------------------------------
        @ @ @ @ @
          @ @ @ @
            @ @ @
              @ @
                @
------------------------------------------

In [22]:
a=int(input())
for i in range(1,a+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()
print("------------------------------------------")
for i in range(a,0,-1):
    for j in range(i,0,-1):
        print("*",end=" ")
    print( )
print("------------------------------------------")
k=a-1
for i in range(1,a+1):
    for j in range(1,k+1):
        print(end=" ")
    k=k-1
    for l in range(1,i+1):
        print("@",end=" ")
    print()
print("------------------------------------------")
k=0
for i in range(a,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for l in range(i,0,-1):
        print("@",end=" ")
    print()
print("------------------------------------------")
k=a*2-2
for i in range(1,a+1):
    for j in range(1,k+1):
        print(end=" ")
    k=k-2
    for l in range(1,i+1):
        print("!",end=" ")
    print()
print("------------------------------------------")
k=0
for i in range(a,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+2
    for l in range(i,0,-1):
        print("!",end=" ")
    print()
print("------------------------------------------")

5
*
* *
* * *
* * * *
* * * * *
------------------------------------------
* * * * *
* * * *
* * *
* *
*
------------------------------------------
    @
   @ @
  @ @ @
 @ @ @ @
@ @ @ @ @
------------------------------------------
@ @ @ @ @
 @ @ @ @
  @ @ @
   @ @
    @
------------------------------------------
        !
      ! !
    ! ! !
  ! ! ! !
! ! ! ! !
------------------------------------------
! ! ! ! !
  ! ! ! !
    ! ! !
      ! !
        !
------------------------------------------

In [23]:
a=5
k=a*2-2
for i in range(a,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+2
    for l in range(i,0,-1):
        print("!",end=" ")
    print()
print("------------------------------------------")

        ! ! ! ! !
          ! ! ! !
            ! ! !
              ! !
                !
------------------------------------------

In [24]:
a=5
for i in range(1,a+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()
print("------------------------------------------")
for i in range(a,0,-1):
    for j in range(i,0,-1):
        print("*",end=" ")
    print( )
print("------------------------------------------")

*
* *
* * *
* * * *
* * * * *
------------------------------------------
* * * * *
* * * *
* * *
* *
*
------------------------------------------

In [25]:
a=5
k=a-1
for i in range(1,a+1):
    for j in range(1,k+1):
        print(end=" ")
    k=k-1
    for l in range(1,i+1):
        print("@",end=" ")
    print()
print("------------------------------------------")
k=0
for i in range(a,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for l in range(i,0,-1):
        print("@",end=" ")
    print()
print("------------------------------------------")

    @
   @ @
  @ @ @
 @ @ @ @
@ @ @ @ @
------------------------------------------
@ @ @ @ @
 @ @ @ @
  @ @ @
   @ @
    @
------------------------------------------

In [26]:
a=5
k=a-1
for i in range(1,a+1):
    for j in range(1,k+1):
        print(end=" ")
    k=k-1
    for l in range(1,i+1):
        print("@",end=" ")
    print()
print("------------------------------------------")
k=1
for i in range(a,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for l in range(i,0,-1):
        print("@",end=" ")
    print()
print("------------------------------------------")

    @
   @ @
  @ @ @
 @ @ @ @
@ @ @ @ @
------------------------------------------
 @ @ @ @ @
  @ @ @ @
   @ @ @
    @ @
     @
------------------------------------------

In [27]:
a=5
k=a-1
for i in range(1,a+1):
    for j in range(1,k+1):
        print(end=" ")
    k=k-1
    for l in range(1,i+1):
        print("@",end=" ")
    print()
print("------------------------------------------")
k=2
for i in range(a,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for l in range(i,0,-1):
        print("@",end=" ")
    print()
print("------------------------------------------")

    @
   @ @
  @ @ @
 @ @ @ @
@ @ @ @ @
------------------------------------------
  @ @ @ @ @
   @ @ @ @
    @ @ @
     @ @
      @
------------------------------------------

In [28]:
a=5
k=a-1
for i in range(1,a+1):
    for j in range(1,k+1):
        print(end=" ")
    k=k-1
    for l in range(1,i+1):
        print("@",end=" ")
    print()
print("------------------------------------------")
k=a*2-1
for i in range(a,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for l in range(i,0,-1):
        print("@",end=" ")
    print()
print("------------------------------------------")

    @
   @ @
  @ @ @
 @ @ @ @
@ @ @ @ @
------------------------------------------
         @ @ @ @ @
          @ @ @ @
           @ @ @
            @ @
             @
------------------------------------------

In [29]:
a=5
k=a*2-2
for i in range(1,a+1):
    for j in range(1,k+1):
        print(end=" ")
    k=k-1
    for l in range(1,i+1):
        print("@",end=" ")
    print()
print("------------------------------------------")
k=a*2-1
for i in range(a,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for l in range(i,0,-1):
        print("@",end=" ")
    print()
print("------------------------------------------")

        @
       @ @
      @ @ @
     @ @ @ @
    @ @ @ @ @
------------------------------------------
         @ @ @ @ @
          @ @ @ @
           @ @ @
            @ @
             @
------------------------------------------

In [30]:
a=5
k=a*2-2
for i in range(1,a+1):
    for j in range(1,k+1):
        print(end=" ")
    k=k-2
    for l in range(1,i+1):
        print("!",end=" ")
    print()
print("------------------------------------------")
k=0
for i in range(a,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+2
    for l in range(i,0,-1):
        print("!",end=" ")
    print()
print("------------------------------------------")

        !
      ! !
    ! ! !
  ! ! ! !
! ! ! ! !
------------------------------------------
! ! ! ! !
  ! ! ! !
    ! ! !
      ! !
        !
------------------------------------------

In [31]:
a=5
k=a*2-2
for i in range(1,a+1):
    for j in range(1,k+1):
        print(end=" ")
    k=k-2
    for l in range(1,i+1):
        print("!",end=" ")
    print()
print("------------------------------------------")
k=1
for i in range(a,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+2
    for l in range(i,0,-1):
        print("!",end=" ")
    print()
print("------------------------------------------")

        !
      ! !
    ! ! !
  ! ! ! !
! ! ! ! !
------------------------------------------
 ! ! ! ! !
   ! ! ! !
     ! ! !
       ! !
         !
------------------------------------------

In [32]:
a=5
k=a*2-2
for i in range(1,a+1):
    for j in range(1,k+1):
        print(end=" ")
    k=k-2
    for l in range(1,i+1):
        print("!",end=" ")
    print()
print("------------------------------------------")
k=a*2-2
for i in range(a,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+2
    for l in range(i,0,-1):
        print("!",end=" ")
    print()
print("------------------------------------------")

        !
      ! !
    ! ! !
  ! ! ! !
! ! ! ! !
------------------------------------------
        ! ! ! ! !
          ! ! ! !
            ! ! !
              ! !
                !
------------------------------------------

In [33]:
a=5
k=a*2-1
for i in range(1,a+1):
    for j in range(1,k+1):
        print(end=" ")
    k=k-2
    for l in range(1,i+1):
        print("!",end=" ")
    print()
print("------------------------------------------")
k=a-1
for i in range(a,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+2
    for l in range(i,0,-1):
        print("!",end=" ")
    print()
print("------------------------------------------")

         !
       ! !
     ! ! !
   ! ! ! !
 ! ! ! ! !
------------------------------------------
    ! ! ! ! !
      ! ! ! !
        ! ! !
          ! !
            !
------------------------------------------

In [34]:
a=5
k=a*2-1
for i in range(1,a+1):
    for j in range(1,k+1):
        print(end=" ")
    k=k-2
    for l in range(1,i+1):
        print("!",end=" ")
    print()
print("------------------------------------------")
k=a*2-2
for i in range(a,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k-1
    for l in range(i,0,-1):
        print("!",end=" ")
    print()
print("------------------------------------------")

         !
       ! !
     ! ! !
   ! ! ! !
 ! ! ! ! !
------------------------------------------
        ! ! ! ! !
       ! ! ! !
      ! ! !
     ! !
    !
------------------------------------------

In [35]:
def pattern(n):
    k = 2 * n - 2
    for i in range(0, n-1):
        for j in range(0, k):
            print(end=" ")
        k = k - 2
        for j in range(0, i + 1):
            print("* ", end="")
        print("\r")
    k = -1
    for i in range(n-1,-1,-1):
        for j in range(k,-1,-1):
            print(end=" ")
        k = k + 2
        for j in range(0, i + 1):
            print("* ", end="")
        print("\r")
 
 
pattern(5)

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [36]:
a=int(input())
k=a*2-2
for i in range(1,a+1):
    for j in range(1,k+1):
        print(end=" ")
    k=k-2
    for l in range(1,i+1):
        print(l,end=" ")
    print()
k=2
for i in range(a-1,0,-1):
    for j in range(k+1,1,-1):
        print(end=" ")
    k=k+2
    for l in range(1,i+1):
        print(l,end=" ")
    print()

5
        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [39]:
def pattern(n):
    k = 2 * n - 2
    for i in range(0, n-1):
        for j in range(0, k):
            print(end=" ")
        k = k - 25
        
        for j in range(0, i + 1):
            print(j+1, end=" ")
        print("\r")
    k = -1
    for i in range(n-1,-1,-1):
        for j in range(k,-1,-1):
            print(end=" ")
        k = k + 2
        for j in range(0, i + 1):
            print(j+1, end=" ")
        print("\r")
 
 
pattern(5)

        1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [38]:
def pattern(n):
    k = 2 * n - 2
    for i in range(0, n-1):
        for j in range(0, k):
            print(end=" ")
        k = k - 25
        
        for j in range(0, i + 1):
            print(j+1, end=" ")
        print("\r")
    k = -1
    for i in range(n-1,-1,-1):
        for j in range(k,-1,-1):
            print(end=" ")
        k = k + 2
        for j in range(0, i + 1):
            print(j+1, end=" ")
        print("\r")
 
 
pattern(5)

        1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [40]:
a=int(input())
b=11
for i in range(a):
    d=b**(i+1)
    c=str(d)
    for j in range(a-i):
        print(end=" ")
    print(" ".join(c))
    print()

5
     1 1

    1 2 1

   1 3 3 1

  1 4 6 4 1

 1 6 1 0 5 1

In [41]:
# Pattern 1-121-12321 pyramid pattern

# Reading number of rows
row = int(input('Enter how many lines? '))

# Generating pattern
for i in range(1,row+1):
    
    # for space
    for j in range(1, row+1-i):
        print(' ', end='')
    
    # for increasing pattern
    for j in range(1,i+1):
        print(j, end='')
    
    # for decreasing pattern 
    for j in range(i-1,0,-1):
        print(j, end='')
    
    # Moving to next line
    print()

Enter how many lines? 5
    1
   121
  12321
 1234321
123454321

In [42]:
a=int(input())
k=0
for i in range(a,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for j in range(1,i+1):
        print(j,end="")
    for j in range(i-1,0,-1):
        print(j,end="")
    print()

5
123454321
 1234321
  12321
   121
    1

In [43]:
def pattern(n):
    k = n - 2
    for i in range(n, -1 , -1):
        for j in range(k , 0 , -1):
            print(end=" ")
        k = k + 1    
        for j in range(0, i+1):
            print("* " , end="")
        print("\r")
    k = 2 * n  - 2
    for i in range(0 , n+1):
        for j in range(0 , k):
            print(end=" ")
        k = k - 1
        for j in range(0, i + 1):
                print("* ", end="")
        print("\r")
pattern(5)

   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *

In [44]:
a=int(input())
k=0
for i in range(a,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for l in range(i,0,-1):
        print(l,end=" ")
    print()
k=a*2-2
for i in range(1,a+1):
    for j in range(k-4):
        print(end=" ")
    k=k-1
    for l in range(1,i+1):
        print(l,end=" ")
    print()

5
5 4 3 2 1
 4 3 2 1
  3 2 1
   2 1
    1
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [45]:
a=int(input())
k=0
for i in range(a,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for l in range(i,0,-1):
        print("*",end=" ")
    print()
k=a*2-2
for i in range(1,a+1):
    for j in range(k-4):
        print(end=" ")
    k=k-1
    for l in range(1,i+1):
        print("*",end=" ")
    print()

5
* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [46]:
a=int(input())
k=4
for i in range(a,0,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k=k+1
    for l in range(i,0,-1):
        print(l,end=" ")
    print()
k=a*2-2
for i in range(1,a+1):
    for j in range(k):
        print(end=" ")
    k=k-1
    for l in range(1,i+1):
        print(l,end=" ")
    print()

5
    5 4 3 2 1
     4 3 2 1
      3 2 1
       2 1
        1
        1
       1 2
      1 2 3
     1 2 3 4
    1 2 3 4 5

In [47]:
a=int(input())
k=a-1
for i in range(1,a+1):
    for j in range(k):
        print(end=" ")
    k=k-1
    for l in range (1,i+1):
        print("*",end=" ")
    print()
k=0
for i in range(a,0,-1):
    for j in range(k):
        print(end=" ")
    k=k+1
    for l in range(i,0,-1):
        print("*",end=" ")
    print()

5
    *
   * *
  * * *
 * * * *
* * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [48]:
a=int(input())
k=a-1
for i in range(1,a+1):
    for j in range(k):
        print(end=" ")
    k=k-1
    for l in range (1,i+1):
        print(i,end=" ")
    print()
k=0
for i in range(a,0,-1):
    for j in range(k):
        print(end=" ")
    k=k+1
    for l in range(i,0,-1):
        print(i,end=" ")
    print()

5
    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5
5 5 5 5 5
 4 4 4 4
  3 3 3
   2 2
    1

In [49]:
for i in range(5):
    for j in range(5):
        if i + j == 2 or i - j == 2 or i + j == 6 or j - i == 2:
            print("*", end="")
        else:
            print(end=" ")
    print()

  *
 * *
*   *
 * *
  *

In [54]:
def pascal(n):
    for i in range(0, n):
        for j in range(0, i + 1):
            print(function(i, j)," ", end="")
        print()
def function(n, k):
    res = 1
    if (k & (n - k)):
        k = n - k
    for i in range(0, k):
        res = res * (n - i)
        res = res // (i + 1)
 
    return res
 
pascal(7)

1
1  1
1  2  1
1  3  3  1
1  4  6  4  1
1  5  10  10  5  1
1  6  15  20  15  6  1

In [56]:
def pascal(n):
    for i in range(0, n):
        for j in range(0, i + 1):
            print(function(i, j)," ", end="")
        print()
def function(n, k):
    res = 1
    if (k):
        k = n - k
    for i in range(0, k):
        res = res * (n - i)
        res = res // (i + 1)
 
    return res
 
pascal(7)

1
1  1
1  2  1
1  3  3  1
1  4  6  4  1
1  5  10  10  5  1
1  6  15  20  15  6  1

In [57]:
def pattern(n):
     for i in range(1, n):
        for j in range(1, i + 1):
             print(j, end= " ")
        print()
pattern(5)

1
1 2
1 2 3
1 2 3 4

In [58]:
def pattern(n):
    k = 2 * n - 2
    x = 0
    for i in range(0, n):
        x += 1
        for j in range(0, k):
            print(end=" ")
        k = k - 1
        for j in range(0, i + 1):
            print("x", end=" ")
        print()
    k = n - 2
    x = n + 2
    for i in range(n, -1, -1):
        x -= 1
        for j in range(k, 0, -1):
            print(end=" ")
        k = k + 1
        for j in range(0, i + 1):
            print("x", end=" ")
        print()
pattern(5)

        x
       x x
      x x x
     x x x x
    x x x x x
   x x x x x x
    x x x x x
     x x x x
      x x x
       x x
        x

In [59]:
def pattern(n):
    k = 2 * n - 2
    for i in range(0, n):
        for j in range(0, k):
            print(end=" ")
        k = k - 1
        for j in range(0, i + 1):
            print('10', end="")
 
        print()
pattern(5)

        10
       1010
      101010
     10101010
    1010101010

In [60]:
def pattern(n):
    x = 65
    for i in range(0, n):
        ch = chr(x)
        x += 1
        for j in range(0, i + 1):
            print(ch, end=" ")
        print()
pattern(5)

A
B B
C C C
D D D D
E E E E E

In [61]:
def pattern(n):
    k = 2 * n - 2
    x = 65
    for i in range(0, n):
        for j in range(0, k):
            print(end=" ")
        k = k - 1
        for j in range(0, i + 1):
            ch = chr(x)
            print(ch, end=" ")
            x += 1
        print()
 
 
pattern(7)

            A
           B C
          D E F
         G H I J
        K L M N O
       P Q R S T U
      V W X Y Z [ \

In [62]:
def pattern(n):
    k = 2 * n - 2
    x = 65
    for i in range(0, n):
        ch = chr(x)
        x += 1
        for j in range(0, k):
            print(end=" ")
        k = k - 1
        for j in range(0, i + 1):
            print(ch, end=" ")
        print()
 
 
pattern(5)

        A
       B B
      C C C
     D D D D
    E E E E E

In [63]:
def pattern(n):
    k = 2 * n - 2
    for i in range(0, n):
        for j in range(0, k):
            print(end=" ")
        k = k - 1
        x = 65
        for j in range(0, i + 1):
            ch = chr(x)
            print(ch, end=" ")
            x += 1
        print()
    k = n - 2
    x = 65
    for i in range(n, -1, -1):
        for j in range(k, 0, -1):
            print(end=" ")
        k = k + 1
        for j in range(0, i + 1):
            ch = chr(x)
            print(ch, end=" ")
            x += 1
        print()
 
 
pattern(5)

        A
       A B
      A B C
     A B C D
    A B C D E
   A B C D E F
    G H I J K
     L M N O
      P Q R
       S T
        U

In [64]:
# Python 3.x code to demonstrate star pattern

# Function to demonstrate printing pattern
def pypart(n):
    myList = []
    for i in range(1,n+1):
        myList.append("*"*i)
    print("\n".join(myList))

# Driver Code
n = 5
pypart(n)

*
**
***
****
*****

In [65]:
def contalpha(n):
    num = 65
    for i in range(0, n):
        for j in range(0, i+1):
            ch = chr(num)
            print(ch, end=" ")
            num = num +1
        print()
contalpha(5)

A
B C
D E F
G H I J
K L M N O

In [66]:
a=int(input())
k=a-1
for i in range(1,a+1):
    for j in range(k):
        print(end=" ")
    k=k-1
    for j in str(i)*i:
        print(j,end=" ")
    print()

6
     1
    2 2
   3 3 3
  4 4 4 4
 5 5 5 5 5
6 6 6 6 6 6

In [67]:
a=int(input())
k=a*2-2
for i in range(1,a+1):
    for j in range(k):
        print(end=" ")
    k=k-2
    for j in str(i)*i:
        print(j,end=" ")
    print()

5
        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [68]:
a=int(input())
k=0
for i in range(a,0,-1):
    for j in range(k):
        print(end=" ")
    k=k+1
    for j in str(i)*i:
        print(j,end=" ")
    print()

5
5 5 5 5 5
 4 4 4 4
  3 3 3
   2 2
    1

In [69]:
a=int(input())
k=0
for i in range(a,0,-1):
    for j in range(k):
        print(end=" ")
    k=k+2
    for j in str(i)*i:
        print(j,end=" ")
    print()

5
5 5 5 5 5
  4 4 4 4
    3 3 3
      2 2
        1

In [70]:
a=int(input())
k=a*2-2
for i in range(1,a+1):
    for j in range(k):
        print(end=" ")
    k=k-2
    for j in str(i)*i:
        print(j,end=" ")
    print()
k=0
for i in range(a,0,-1):
    for j in range(k):
        print(end=" ")
    k=k+2
    for j in str(i)*i:
        print(j,end=" ")
    print()

5
        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5
5 5 5 5 5
  4 4 4 4
    3 3 3
      2 2
        1

In [71]:
a=int(input())
k=a*2-2
for i in range(1,a+1):
    for j in range(k):
        print(end=" ")
    k=k-2
    for j in str(i)*i:
        print(j,end=" ")
    print()
k=2
for i in range(a-1,0,-1):
    for j in range(k):
        print(end=" ")
    k=k+2
    for j in str(i)*i:
        print(j,end=" ")
    print()

5
        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5
  4 4 4 4
    3 3 3
      2 2
        1

In [72]:
a=int(input())
k=a*2-2
for i in range(1,a+1):
    for j in range(k):
        print(end=" ")
    k=k-2
    for j in range(1,i+1):
        print(j,end=" ")
    print()
k=2
for i in range(a-1,0,-1):
    for j in range(k):
        print(end=" ")
    k=k+2
    for j in range(1,i+1):
        print(j,end=" ")
    print()

5
        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [73]:
a=int(input())
k=a-1
for i in range(1,a+1):
    for j in range(k):
        print(end=" ")
    k=k-1
    for j in str(i)*i:
        print(j,end=" ")
    print()
k=0
for i in range(a,0,-1):
    for j in range(k):
        print(end=" ")
    k=k+1
    for j in str(i)*i:
        print(j,end=" ")
    print()

5
    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5
5 5 5 5 5
 4 4 4 4
  3 3 3
   2 2
    1

In [74]:
a=int(input())
k=a-1
for i in range(1,a+1):
    for j in range(k):
        print(end=" ")
    k=k-1
    for j in str(i)*i:
        print(j,end=" ")
    print()
k=1
for i in range(a-1,0,-1):
    for j in range(k):
        print(end=" ")
    k=k+1
    for j in str(i)*i:
        print(j,end=" ")
    print()

5
    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5
 4 4 4 4
  3 3 3
   2 2
    1

In [75]:
a=int(input())
for i in range(1,a+1):
    for j in range(1,i+1):
        print(i,end="")
    print()

5
1
22
333
4444
55555

In [76]:
a=int(input())
for i in range(a,0,-1):
    for j in range(1,i+1):
        print(i,end="")
    print()

5
55555
4444
333
22
1

In [77]:
a=int(input())
for i in range(1,a+1):
    for j in range(1,i+1):
        print(i,end="")
    print()
for i in range(a,0,-1):
    for j in range(1,i+1):
        print(i,end="")
    print()

5
1
22
333
4444
55555
55555
4444
333
22
1

In [78]:
a=int(input())
for i in range(1,a+1):
    for j in range(1,i+1):
        print(i,end="")
    print()
for i in range(a-1,0,-1):
    for j in range(1,i+1):
        print(i,end="")
    print()

5
1
22
333
4444
55555
4444
333
22
1

In [79]:
a=int(input())
for i in range(1,a+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [80]:
for i in range(a,0,-1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [81]:
a=int(input())
for i in range(1,a+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()
for i in range(a,0,-1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [82]:
a=int(input())
for i in range(1,a+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()
for i in range(a-1,0,-1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [83]:
for i in range (65,70):
    # inner loop
    for j in range(65,i+1):
        print(chr(i),end="")
    print()

A
BB
CCC
DDDD
EEEEE

In [84]:
for i in range(65,70):
    # Inner loop
    for j in range(i,64,-1):
        print(chr(j),end="")
    print()

A
BA
CBA
DCBA
EDCBA

In [85]:
m=6   
# Outer loop
for i in range(65,70):
    m=m-1
    # Inner loop 1 
    for j in range(m,1,-1):
        print(" ",end="")
    # Inner loop 2
    for k in range(65,i+1):
        print(chr(k),end="")
    # Inner loop 3
    for n in range(65,i):
        print(chr(n),end="")
    print()

    A
   ABA
  ABCAB
 ABCDABC
ABCDEABCD

In [87]:
for num in range(10):
    for i in range(num):
        print (num, end=" ") #printing the number
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

In [88]:
a=int(input())
k=a-1
for i in range(1,a+1):
    for j in range(k):
        print(end=" ")
    k=k-1
    for j in range(i):
        print("!",end=" ")
    print()
k=1
for i in range(a-1,0,-1):
    for j in range(k):
        print(end=" ")
    k=k+1
    for j in str(i)*i:
        print("!",end=" ")
    print()

5
    !
   ! !
  ! ! !
 ! ! ! !
! ! ! ! !
 ! ! ! !
  ! ! !
   ! !
    !

In [89]:
result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (((column == 1 or column == 5) and row != 0) or ((row == 0 or row == 3) and (column > 1 and column < 5))):    
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str)

  ***
 *   *
 *   *
 *****
 *   *
 *   *
 *   *

In [90]:
str="";    
for Row in range(0,7):    
    for Col in range(0,7):     
        if (Col == 1 or ((Row == 0 or Row == 3 or Row == 6) and (Col < 5 and Col > 1)) or (Col == 5 and (Row != 0 and Row != 3 and Row != 6))) :  
            #(Col == 5 and (Row != 0 and Row != 3 and Row != 6))) :
            str=str+"*"    
        else:      
            str=str+" "    
    str=str+"\n"    
print(str);

 ****
 *   *
 *   *
 ****
 *   *
 *   *
 ****

In [91]:
print("..######..\n..#....#..\n..######..\n..#....#..\n..#....#..\n\n")

..######..
..#....#..
..######..
..#....#..
..#....#..

In [92]:
print("..######..\n..#....#..\n..#####...\n..#....#..\n..######..\n\n")

..######..
..#....#..
..#####...
..#....#..
..######..

In [93]:
print("..######..\n..#.......\n..#.......\n..#.......\n..######..\n\n")

..######..
..#.......
..#.......
..#.......
..######..

In [94]:
print("..######..\n..#.......\n..#####...\n..#....#..\n..#####...\n\n")

..######..
..#.......
..#####...
..#....#..
..#####...

In [95]:
print("..######..\n....##....\n....##....\n....##....\n..######..\n\n")

..######..
....##....
....##....
....##....
..######..

In [96]:
 print("..######..\n....##....\n....##....\n....##....\n....##....\n\n")

..######..
....##....
....##....
....##....
....##....

In [97]:
 print("..#....#..\n..#....#..\n..######..\n..#....#..\n..#....#..\n\n")

..#....#..
..#....#..
..######..
..#....#..
..#....#..

In [98]:
print("..#....#..\n..#....#..\n..#....#..\n..#....#..\n..######..\n\n")

..#....#..
..#....#..
..#....#..
..#....#..
..######..

In [99]:
print("..######..\n..#....#..\n..#####...\n..#....#..\n..######..\n\n")

..######..
..#....#..
..#####...
..#....#..
..######..

In [109]:
print("..######..\n..#.......\n..#####...\n..#....#..\n..#####...\n\n",end=" ")
print("..######..\n....##....\n....##....\n....##....\n..######..\n\n",end=" ")
print("..######..\n....##....\n....##....\n....##....\n....##....\n\n",end=" ")
print("..#....#..\n..#....#..\n..######..\n..#....#..\n..#....#..\n\n",end=" ")
print("..#....#..\n..#....#..\n..#....#..\n..#....#..\n..######..\n\n",end=" ")
print("..######..\n..#....#..\n..#####...\n..#....#..\n..######..\n\n",end=" ")

..######..
..#.......
..#####...
..#....#..
..#####...

 ..######..
....##....
....##....
....##....
..######..

 ..######..
....##....
....##....
....##....
....##....

 ..#....#..
..#....#..
..######..
..#....#..
..#....#..

 ..#....#..
..#....#..
..#....#..
..#....#..
..######..

 ..######..
..#....#..
..#####...
..#....#..
..######..

In [112]:
row=7
col=7
for i in range(row):
    for j in range(col):
        if(i < row // 2):
            if (j < col // 2):
                if (j == 0):
                    print("*", end = "")
                else:
                    print(" ", end = " ")
            elif (j == col // 2):
                print(" *", end = "")
            else:
                if (i == 0):
                    print(" *", end = "")
                         
        elif (i == row // 2):
            print("* ", end = "")
        else:
            if (j == col // 2 or j == col - 1):
                print("* ", end = "")
            elif (i == row - 1):
                if (j <= col // 2 or j == col - 1):
                    print("* ", end = "")
                else:
                    print(" ", end = " ")
            else:
                print(" ", end = " ")
    print()

*     * * * *
*     *
*     *
* * * * * * *
      *     *
      *     *
* * * *     *

In [113]:
a=int(input())
b=ord("A")
for i in range(1,a+1):
    print(chr(b)*i)
    b=b+1

5
A
BB
CCC
DDDD
EEEEE

In [114]:
a=int(input())
for i in range(1,a+1):
    s=""
    for j in range(i):
        s+="1"
    print(s)

5
1
11
111
1111
11111

In [125]:
a="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
b=int(input())
for i in range(b):
    c=""
    if(i==0):
        print("A")
    else:
        for j in range(i,i+i+1):
            c+=a[j]
        print(c)

5
A
BC
CDE
DEFG
EFGHI

In [126]:
n=int(input())
a=65+n
b=a
for i in range(n+1):
    s=""
    for j in range(a,b):
        s+=chr(j)
    print(s)
    a=a-1

5

E
DE
CDE
BCDE
ABCDE

In [128]:
a1=input()
a=int(a1)
for i in range(a):
    #print(a*int("1"*a))
    b=""
    for j in range(a):
        b+=a1
    print(b)

5
55555
55555
55555
55555
55555

In [1]:
a1=input()
a=int(a1)
for i in range(1,a+1):
    c=""
    for j in range(i,0,-1):
        c+=str(j)
    print(c)

5
1
21
321
4321
54321

In [2]:
a=int(input())
for i in range(1,a+1):
    c=""
    for j in range(1,i+1):
        c+=str(i)
    print(c)

5
1
22
333
4444
55555

In [6]:
a=int(input())
print(1)
#print(11)
for i in range(1,a):
    s=str(i)+"0"*(i-1)+str(i)
    print(s)

5
1
11
202
3003
40004

In [7]:
a=int(input())
print(1)
for i in range(1,a+1):
    s=str(1)+str(2)*(i-1)+str(1)
    print(s)

5
1
11
121
1221
12221
122221

In [2]:
a=int(input())
for i in range(a,0,-1):
    s=""
    for j in range(1,i+1):
        s+=str(j)
    print(s)

5
12345
1234
123
12
1

In [3]:
a=int(input())
b=ord("A")
for i in range(1,a+1):
    print(chr(b)*i)
    b=b+1

5
A
BB
CCC
DDDD
EEEEE

In [6]:
a=int(input())
for i in range(a,0,-1):
    print(str(i)*i)

5
55555
4444
333
22
1

In [7]:
a=int(input())
b=a-1
for i in range(1,a+1):
    for j in range(b):
        print(" ",end="")
    b=b-1
    for j in range(i,0,-1):
        print(j,end="")
    for j in range(2,i+1):
        print(j,end="")
    print()

5
    1
   212
  32123
 4321234
543212345

In [8]:
a=int(input())
for i in range(1,a+2):
    for j in range(a-i+1):
        print(end=" ")
    for k in range(1,i):
        print(k,end="")
    print()

5

    1
   12
  123
 1234
12345

In [9]:
a=int(input())
for i in range(1,a+1):
    n=i
    for j in range(a-i):
        print(" ",end="")
    for k in range(1,i+1):
        print(n,end="")
        n=n+1
    n=n-2
    for k in range(1,i):
        print(n,end="")
        n=n-1
    print()

5
    1
   232
  34543
 4567654
567898765

In [10]:
a=int(input())
b=a*2-2
for i in range(1,a+1):
    for j in range(1,i+1):
        print(j,end="")
    for j in range(b):
        print(" ",end="")
    for k in range(i,0,-1):
        print(k,end="")
    b=b-2
    print()

5
1        1
12      21
123    321
1234  4321
1234554321

In [11]:
a=int(input())
b=a-1
for i in range(1,a+1):
    for j in range(b):
        print(" ",end="")
    b=b-1
    for j in range(i,0,-1):
        print(j,end="")
    for j in range(2,i+1):
        print(j,end="")
    print()

5
    1
   212
  32123
 4321234
543212345

In [2]:
a=int(input())
b=0
if(a%2!=0):
    for i in range(1,(a+1)//2+1):
        for j in range(b):
            print(" ",end="")
        b+=1
        print("* "*i)
    for i in range((a+1)//2-1,0,-1):
        for j in range(b-2):
            print(" ",end="")
        b-=1
        print("* "*i)

7
*
 * *
  * * *
   * * * *
  * * *
 * *
*

In [3]:
for i in range(9):
    for j in range(7):
        if(j==3 or (i==0 and j!=3) or (i==8 and j<3)):
            print("*",end='')
        else:
            print(end=" ")
    print()

*******
   *
   *
   *
   *
   *
   *
   *
****

#  Thank You!!